<!-- client/views/index.html -->
<!DOCTYPE html>
<html ng-app="shipApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!-- Ships View -->
        <!-- Normally, this would be in its own file, but for the
             demo we will put it embedded here. -->
        <div ng-controller="shipsController">
            <!-- The ships Count comes from the controller -->
            <h1>There are {{ships.length}} ships</h1>
            <ul>
                <li ng-repeat="ship in ships">
                    {{ship.name}}
                </li>
            </ul>
            <form ng-submit="createShip()">
                <input type="text" placeholder="Ship name" ng-model="shipName"/<input>
                <button type="submit">Add</button>
            </form>
        </div>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/controllers/ships-controller.js"></script>
    </body>
</html>
